header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    overflow: hidden;
    padding: 0 24px;
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgba(253, 253, 253, 0));

    a{
        color: #fff;
    }

    nav{
        display: flex;
        align-items: center;
        height: 80%;
    
        #logocontent{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            z-index: 3;

            .titlelogo{
                display: inline-flex;
                align-items: center;
                font-size: 40px;
                font-weight: bold ;
            }
            .titlelogo:hover{
                transition: 4s;
                color: rgb(255, 206, 45);
                transition: all 1s ease;
                font-weight: bold ;
            }

        }

        .navbar{
            position: absolute;
            left: 0;
            width:100%;
            justify-content: center;
            list-style: none;
            display: flex;
            gap: 1vw;
                    
            li{
                font-size: clamp(0.6rem, -2.5rem + 5vw, 1rem);
                letter-spacing: 3px;
                background-color: black;
                width: fit-content;
                border-radius: 20px;
                align-self: center;
                border: 2px rgb(0, 0, 0) solid;
                display: flex;
                justify-content: center;
                padding: 0 1rem;
                transition: all 0.5s ease;
            }
            li:hover{
                cursor: pointer;
                border: 2px antiquewhite solid;
                transform: scale(1.15);
                text-shadow: #fff 0px 0px 10px;
            }
        }
    }
}
header.scrolled-header {
    height: 100px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.863),rgba(253, 253, 253, 0));
}