* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body{
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background-color: #3f3f3f;
}

tbody{
    color: #3f3f3f;
}

.container {
    max-width: 90%;
    margin: 24px auto 0 auto; /* margem superior padronizada */
    padding: 24px;
    text-align: center;
}

.header_title {
    border-radius: 0.5rem;
    padding: 24px 16px 0px 16px;
}

#tablebox {
    padding: 16px;
    margin-bottom: 24px;
            
    #myTable_length {
        margin-bottom: 16px;
        width: fit-content;
    }
    #myTable_filter{
        margin-bottom: 16px;
        width: 40%;
        
        input{
            width: 80%;
            outline: none;
            transition: 0.2s;
            padding: 0.2rem 1rem;
        }
    }
    #myTable {
        border: #181a1f 1px solid;
        border-radius: 1px;
                
        #appidtitle {
            width: 8%;
        }
        #nameidtitle{
            width: 20%;
        }
    }
}

#graphics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
    width: 100%;
    padding: 24px;
    gap: 24px; /* Espaçamento entre gráficos */
  
    .graphic-box {
        width: 100%;
        margin-bottom: 24px;
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        padding: 24px;
        background-color: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 1s ease-in-out;
        
        h2 {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 16px;
            color: #374151;
            text-align: center;
        }
        
        #chart-container {
            width: 100%;
            height: 500px;
            position: relative;
        }

    }.graphic-box.loaded {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 16px;
    }
    #graphics-container {
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: 16px;
        
        .graphic-box {
            width: 100%;
            max-width: 100%;
            padding: 16px;
            margin-bottom: 16px;
        }
    }
    
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #7275b5;
    animation: spin 1s ease infinite;
    margin: 0 auto;
    color: #4b5563;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}